.onClass,
.offClass {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.on,
.off {
  padding: 10px;
}

.off {
  margin-right: 10px;
}

.light {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.onClass .on,
.onClass .light {
  background-color: #54d01f;
}

.onClass .off,
.offClass .on {
  background-color: gray;
}

.offClass .off,
.offClass .light {
  background-color: tomato;
}